<%- include('./partials/header.ejs'); %>
<div id="main">
    <div id="info">
        <div id="user-panel">
            <div class="username">
                <h3 class="mt-4"><%= user.name %></h3>
            </div>
            <div class="total">
                <h5>Total</h5>
                <h3 id="total-cost">0</h3>
            </div>
        </div>

        <div id="smart-objects">
            <div class="visibility">
                <button id="visibility" class="btn btn-info">Hide</button>
            </div>
            <div class="smart-objects-group">
                <i id="parking" class="fas fa-parking fa-3x"></i>
                <i id="traffic-light" class="fas fa-traffic-light fa-3x"></i>
            </div>
            <div class="smart-objects-group">
                <i id="water-sensor" class="fas fa-water fa-3x"></i>
                <i id="gas-sensor" class="fas fa-tint fa-3x"></i>
            </div>
            <div class="smart-objects-group">
                <i id="parking-sensor" class="fas fa-car-crash fa-3x"></i>
                <i id="parking-ramp" class="fas fa-window-minimize fa-3x"></i>
            </div>
            <div class="smart-objects-group">
                <i id="vendomat" class="fas fa-cookie fa-3x"></i>
                <i id="traffic-counter" class="fas fa-calculator fa-3x"></i>
            </div>
            <div class="smart-objects-group">
                <i id="wify" class="fas fa-wifi fa-3x"></i>
                <i id="sensor-air" class="fas fa-wind fa-3x"></i>
            </div>
            <div class="smart-objects-group">
                <i id="smart-bench" class="fas fa-couch fa-3x"></i>
                <i id="smart-trash-can" class="fas fa-trash fa-3x"></i>
            </div>
        </div>
        <a href="/users/logout" class="btn btn-danger">Logout</a>
    </div>
    <div id="map">
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-empty"></div>
            <div class="modal-container">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="markerToDropLabel">Add Marker</h2>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <label for="markerName">Name</label>
                        <input type="text" id="markerName" name="markerName" placeholder="Name...">

                        <label for="markerPrice">Price</label>
                        <input type="number" id="markerPrice" name="markerPrice" placeholder="Price...">

                    </div>
                    <div class="modal-footer">
                        <button id="dropMarker">Drop Marker</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer-script.ejs'); %>